<a href="https://colab.research.google.com/github/LeeHuiJong/SkillTreePython-DataAnalysis/blob/main/03_NumPy_%EB%B0%B0%EC%97%B4%EC%9D%98%EA%B0%92%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH03. Numpy  - 배열의 값 다루기

---
* 날짜:
* 이름:

## 개념정리

앞서 우리는 배열을 생성하는 다양한 방법을 배웠습니다. 이번시간에 이렇게 생성한 배열의 값을 조회(인덱싱, 슬리아싱) 하고 값을 변경(수정, 삭제) 하는 방법에 대해 알아보도록 합니다. 


```
import numpy as np
```

In [1]:
import numpy as np

---
### **(1) 배열 조회**
---

기본적인 배열의 정보를 아래 메서드를 이용해 확인할 수 있습니다. 


* `.ndim`: 차원의 수
* `.shape`: 형태
* `.dtype`: element 타입
* `.size`: element 총 개수
* `.itemsize`: 메모리 사이즈 (byte)
* `.nbytes`: `size`*`itemsize`

```
a = np.arange(10)
print(a)
print(a.ndim) # 차원의 수
print(a.shape) # 형태
print(a.dtype) # element 타입
print(a.size) # element 총 개수
print(a.itemsize) # 메모리 사이즈
print(a.nbytes) # 메모리 사이즈 * element 총 개수
```

In [8]:
a = np.arange(10)
print(a)
print(a.ndim) # 차원의 수
print(a.shape) # 형태
print(a.dtype) # element 타입
print(a.size) # element 총 개수
print(a.itemsize) # 메모리 사이즈
print(a.nbytes) # 메모리 사이즈 * element 총 개수

[0 1 2 3 4 5 6 7 8 9]
1
(10,)
int64
10
8
80

In [7]:
a = np.zeros((5,3))
print(a)
print(a.ndim) # 차원의 수
print(a.shape) # 형태
print(a.dtype) # element         ★타입 배열은 동일한 타입으로 넣는다
print(a.size) # element 총 개수
print(a.itemsize) # 메모리 사이즈
print(a.nbytes) # 메모리 사이즈 * element 총 개수

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
2
(5, 3)
float64
15
8
120

#### **| 인덱싱**

배열의 인덱싱은 기본적으로 파이썬 리스트와 동일합니다. 다만 넘파이 배열에서는 차원에 대한 인덱싱을 콤마(,)를 이용합니다.

아래와 같이 리스트 `l`과 배열 `a`가 주어 졌을 때 데이터 `2`를 출력해 봅시다.

배열을 사용할 땐 보통 `a[0,1]` 과 같이 각 차원에 대해 콤마(`,`)로 구분합니다. 

```
l = [[1,2,3],[4,5,6]]
a = np.array(l)
print(a)

l[0][1], a[0][1], a[0,1]
```

In [10]:
l=[[1,2,3],
   [4,5,6]]
a=np.array(l)
print(a)

l[0][1],a[0][1],a[0,1]

[[1 2 3]
 [4 5 6]]

(2, 2, 2)

#### **| 슬라이싱**

슬라이싱 또한 기본적으로 파이썬 리스트와 동일하며 다른점은 콤마(,)를 이용한다는 것입니다. 

우선 슬라이싱을 이용해 리스트 `l`에서 리스트 `[[1,2],[4,5]]`을 출력해 봅시다.

```
?
```

In [16]:
l[:2]

[[1, 2, 3], [4, 5, 6]]

이번엔 배열 `a`에서 배열 `[[1,2],[4,5]]`을 출력해 봅시다.

In [18]:
a[ : , :2] # 열과 행 기준

array([[1, 2],
       [4, 5]])

이처럼 리스트에서는 제한적인 슬라이싱을 넘파이 배열을 통해서는 자유롭게 슬라이싱이 가능합니다.

#### **| 연습문제**

연습을 위해 아래 그림과 같은 2차원 배열을 생성하고 `a2`로 바인딩 하세요.

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-01.png?raw=true width=240>
</p>

```
a2 = np.arange(1, 26).reshape(5,5)
```

In [22]:
a2 = np.arange(1,26).reshape(5,5)
a2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

**연습 01**

인덱싱을 이용해 `a2`의 4, 13, 25를 각각 출력하세요.

In [31]:
a2[(0,3)],a2[(2,2)],a2[(4,4)]

(4, 13, 25)

**연습 02**

슬라이싱을 이용해 파란색 값으로 이루어진 배열을 출력하세요.

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-02.png?raw=true width=240>
</p>

In [48]:
# 기본적인 슬라이싱 포멧 a[ , : , ] : 앞은 열을 판단 뒤는 행을 판단
a2[ 1: , 1 ]

array([ 7, 12, 17, 22])

**연습 03**

슬라이싱을 이용해 파란색 값으로 이루어진 배열을 출력하세요.

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-03.png?raw=true width=240>
</p>

In [47]:
a2[ 1:4 , 1:4 ]

array([[ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19]])

---
### **(2) 다양한 인덱싱**
---

#### **| 팬시 인덱싱(Fancy indexing)**

아래그림과 같이 `a2`의 대각선 값인 `[1,7,13,19,25]`만 슬라이싱 하려면 어떻게 할까요? 이 경우 인덱스가 이어져 있지 않기 때문에 위에서 배운 방법만으로는 어렵습니다. 

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-04.png?raw=true width=240>
</p>


이럴 때 유용하게 사용할 수 있는게 팬시 인덱싱 입니다. 팬시 인덱싱은 배열 값의 선택 여부를 인덱스로 지정합니다. 


```
a2[(0,1,2,3,4),(0,1,2,3,4)]
```
위 코드는 행, 열로 바꿔 생각하면 `(0,0)`, `(1,1)`, `(2,2)`, `(3,3)`, `(4,4)` 위치에 있는 값들을 인덱싱 한것과 동일합니다.

In [50]:
a2[(0,1,2,3,4),(0,1,2,3,4)]

array([ 1,  7, 13, 19, 25])

#### **| 불리언 인덱싱(Fancy indexing)**

불리언 인덱싱은 배열 값의 선택 여부를 불리언(boolian) 을 이용해 지정합니다. 불리언 인덱싱을 사용하기 위해서는 인덱스 할 배열과 똑같은 크기에 `True`혹은 `False` 값만 들어있는 배열이 필요합니다. 

따라서 위에서 처럼 대각값을 슬라이싱 하기 위해서는 아래와 같은 작업이 필요합니다. 

```
mask  = np.array([[True, False, False, False, False,],
                [False, True, False, False, False,],
                [False, False, True, False, False,],
                [False, False, False, True, False,],
                [False, False, False, False, True,]])

mask  = np.array([[1,0,0,0,0],
                 [0,1,0,0,0],
                 [0,0,1,0,0],
                 [0,0,0,1,0],
                 [0,0,0,0,1]], dtype=bool)
print(mask)

a2[mask]
```

In [51]:
mask  = np.array([[True, False, False, False, False,],
                [False, True, False, False, False,],
                [False, False, True, False, False,],
                [False, False, False, True, False,],
                [False, False, False, False, True,]])

mask  = np.array([[1,0,0,0,0],
                 [0,1,0,0,0],
                 [0,0,1,0,0],
                 [0,0,0,1,0],
                 [0,0,0,0,1]], dtype=bool)
print(mask)

a2[mask]

[[ True False False False False]
 [False  True False False False]
 [False False  True False False]
 [False False False  True False]
 [False False False False  True]]

array([ 1,  7, 13, 19, 25])

불리언 인덱싱이 불필요해 보이지만 유용하게 사용될 때가 있습니다. 아직 연산에 대해 배우지 않았지만 예시를 들어보겠습니다. 

`a2`에서 `15`보다 큰값만 슬라이싱 하려 합니다. 이 때 불리언 인덱싱을 이용해 `mask`를 다음과 같이 정의할 수 있습니다. 

```
mask = a2>15
print(mask)
a2[mask]
```

In [53]:
mask=a2>15 # 배열과 숫자가 비교 가능
print(mask)
a2[mask]

[[False False False False False]
 [False False False False False]
 [False False False False False]
 [ True  True  True  True  True]
 [ True  True  True  True  True]]

array([16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

#### **| 연습문제**

**연습 04**

아래 그림에서 색깔별로 해당하는 값들을 인덱싱 하여 각각 새로운 배열로 만드세요.


<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-05.png?raw=true width=240>
</p>

In [56]:
a2[(0,2,3),(0,1,3)] #불규칙하게 인덱싱 해야할 경우 펜시인덱싱이 유용함

array([ 1, 12, 19])

In [60]:
a2[:3,(2,4)] # 펜시랑 합쳐서 쓸수 있음

array([[ 3,  5],
       [ 8, 10],
       [13, 15]])

In [59]:
mask  = np.array([[0,0,1,0,1], 
                  [0,0,1,0,1],
                  [0,0,1,0,1],
                  [0,0,0,0,0],
                  [0,0,0,0,0]], dtype=bool) 
a2[mask]

array([ 3,  5,  8, 10, 13, 15])

In [58]:
mask1=a2>20 # 조건은 변경될수 있기 때문에 정의하는것이 좋다
a2[mask1]

array([21, 22, 23, 24, 25])

---
### **(3) 배열 값 변경**
---

#### **| 수정**

배열 값의 수정은 기본적으로 인덱싱을 이용합니다. 리스트의 수정과 마찬가지로 인덱싱으로 특정값에 접근하고 바인딩을 이용해 값을 수정합니다. 


```
a = np.arange(10)
print(a)
a[0]=100
print(a)
```

In [132]:
a = np.arange(10)
print(a)
a[0]=100
print(a)

[0 1 2 3 4 5 6 7 8 9]
[100   1   2   3   4   5   6   7   8   9]

In [62]:
a2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### **| 삽입**

* `b = np.insert(a, index, element, axis=n)` : 
값을 추가한 새로운 배열을 반환합니다. 원본 배열은 변경되지 않습니다. 

`insert` 메서드를 이용하여 배열의 특정 위치에 값을 추가할 수 있습니다. 이 때 값을 추가할 차원 축 (axis)를 지정해야 하며, 지정하지 않으면 1차원 배열을 반환합니다. 

```
a = np.zeros((3,3))
print(a)

print(np.insert(a, 0, 1, axis=0))
print(np.insert(a, 0, 1, axis=1))
print(np.insert(a, 0, 1))
```

In [64]:
a=np.arange(10)
print(a)
a[0]=100
a

[0 1 2 3 4 5 6 7 8 9]

array([100,   1,   2,   3,   4,   5,   6,   7,   8,   9])

In [67]:
a = np.zeros((3,3))
print(a)
print(np.insert(a, 0, 1, axis=0)) # a의 0번째(axis)에 1을 삽입
print(np.insert(a, 0, 1, axis=1)) #
print(np.insert(a, 0, 1))

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[1. 0. 0. 0.]
 [1. 0. 0. 0.]
 [1. 0. 0. 0.]]
[1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### **| 연습문제**

**연습 05**

위에서 정의한 `a`에 `insert`를 사용하여 아래 그림과 같은 배열을 출력하세요.

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-06.png?raw=true width=150>
</p>

In [87]:
print(np.insert(a, 2, 1, axis=0))

[[0. 0. 0.]
 [0. 0. 0.]
 [1. 1. 1.]
 [0. 0. 0.]]

**연습 06**

위에서 정의한 `a`에 `insert`를 사용하여 아래 그림과 같은 배열을 출력하세요.

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-07.png?raw=true width=210>
</p>

In [79]:
print(np.insert(a, 1, (1,2,3), axis=1))

[[0. 1. 0. 0.]
 [0. 2. 0. 0.]
 [0. 3. 0. 0.]]

In [84]:
print(np.insert(a, 1, (1,2,3), axis=0))

[[0. 0. 0.]
 [1. 2. 3.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [86]:
print(np.insert(a, 1, (1,2,3,4), axis=1)) # 3번째 요소(element)를 추가할때는 열과 행의 숫자를 맞춰 넣지 않으면 오류 발생
                                          # 여기서 처럼 (1,2,3,4)를 추가하니 오류가 발생한다.

ValueError: ignored

#### **| 삭제**

* `b = np.delete(a, index, axis=n)` : 
값을 추가한 새로운 배열을 반환합니다. 원본 배열은 변경되지 않습니다. 

`delete` 메서드는 배열의 특정 위치 값을 삭제합니다. 이 때 값을 추가할 차원 축 (axis)를 지정해야 하며, 지정하지 않으면 1차원 배열을 반환합니다. 

```
a = np.zeros((3,3))
print(a)

print(np.delete(a, 0, axis=0))
print(np.delete(a, 0, axis=1))
print(np.delete(a, 0))
```

In [88]:
print(a)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [89]:
print(np.delete(a, 0, axis=0))
print(np.delete(a, 0, axis=1))
print(np.delete(a, 0))

[[0. 0. 0.]
 [0. 0. 0.]]
[[0. 0.]
 [0. 0.]
 [0. 0.]]
[0. 0. 0. 0. 0. 0. 0. 0.]

#### **| 복사** ★★

* `b = np.copy(a)` : 배열 `a`를 복사하여 `b`로 반환합니다.

In [91]:
b = np.copy(a)

`np.copy`를 이용해 배열을 복사하면 `b` 값이 변경되더라도 원본 배열 `a`는 보존됩니다.
```
b[1,1]=1
print(a)
print(b)
```

In [92]:
b[1,1]=1
print(a)
print(b)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[0. 0. 0.]
 [0. 1. 0.]
 [0. 0. 0.]]

만약 슬라이싱으로 배열을 복사하게 되면 원본 배열 `a`가 보존되지 않습니다.

```
b = a[:]
print(a)
print(b)
print('b값을 변경')
b[1,1]=1
print(a)
print(b)
```

In [ ]:
b=a[:]
print(a)
print(b)

b[1,1]=1
print(a)
print(b)  # 복사를 쓰는 이유는 a=b 라고 정의했을 때 b의 값이 변하면 a도 같이 변하기 때문에 다른 메모리 값으로 정해주기 위해서

## 문제풀이
---

아래 그림과 같은 배열을 각각 `a1`, `a2`, `a3` 로 정의하세요. `a3` 그림에서 뒤쪽에 있는 숫자들은 앞에 값과 동일합니다.

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-08.png?raw=true width=620>
</p>

In [101]:
a1=np.array([2,4,1,3])
a2=np.array([[0,1,2],
             [10,11,12],
             [20,21,22],
             [30,31,32],
             [40,41,42]])
a3=np.array([[[0,1],
              [10,11]],
             [[0,1],
              [10,11]],
             [[0,1],
              [10,11]]])

**예제 01**

`a1`의 3을 인덱싱 하세요

In [108]:
a1[3]

3

**예제 02**

`a2`의 2와 30을 인덱싱 하세요.

In [110]:
a2[0][2],a2[3][0]

(2, 30)

**예제 03**

`a3`의 10을 모두 인덱싱 하세요.

In [112]:
mask= a3==10
a3[mask]

array([10, 10, 10])

**예제 04**

`a2`에서 아래 그림에 해당하는 값을 펜시 인덱싱과 불리언 인덱싱을 각각 이용하여 새로운 배열로 만드세요.

<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-09.png?raw=true width=150>
</p>

In [113]:
a2[(2,4,2,4),(0,0,2,2)]

array([20, 40, 22, 42])

In [115]:
mask  = np.array([[0,0,0],
                  [0,0,0],
                  [1,0,1],
                  [0,0,0],
                  [1,0,1]], dtype=bool)
a2[mask]

array([20, 22, 40, 42])

**예제 05**

`a2`에서 아래 그림에 해당하는 값을 펜시 인덱싱과 불리언 인덱싱을 각각 이용하여 새로운 배열로 만드세요.


<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-10.png?raw=true width=150>
</p>

In [118]:
a2[(0,1,2,0,1,2),(0,0,0,2,2,2)]

array([ 0, 10, 20,  2, 12, 22])

In [119]:
a2[:3,(0,2)] # 펜시랑 슬라이싱 합쳐서 쓰는 방법

array([[ 0,  2],
       [10, 12],
       [20, 22]])

**예제 06**

`a2`에서 아래 그림에 해당하는 값을 펜시 인덱싱과 불리언 인덱싱을 각각 이용하여 새로운 배열로 만드세요.


<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-11.png?raw=true width=150>
</p>

In [121]:
a2[(2,2,2,3,4),(0,1,2,1,1)]

array([20, 21, 22, 31, 41])

In [127]:
mask  = np.array([[0,0,0],
                  [0,0,0],
                  [1,1,1],
                  [0,1,0],
                  [0,1,0]], dtype=bool)
a2[mask]

array([20, 21, 22, 31, 41])

In [126]:
a2[2:5,(0,2)]

array([[20, 22],
       [30, 32],
       [40, 42]])

**예제 07**

`a3`에서 1에 해당하는 값만 모아 새로운 배열로 만드세요.

In [129]:
mask1=a3==1
a3[mask1]

array([1, 1, 1])

**예제 08**

`a2`를 복사하여 `b2`로 바인딩하세요.

In [131]:
b2 = np.copy(a2)
print(a2)
print(b2)

[[ 0  1  2]
 [10 11 12]
 [20 21 22]
 [30 31 32]
 [40 41 42]]
[[ 0  1  2]
 [10 11 12]
 [20 21 22]
 [30 31 32]
 [40 41 42]]

**예제 09**

`b2`를 아래 그림과 같이 수정하세요.


<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-12.png?raw=true width=150>
</p>

In [138]:
l=np.zeros((3,3))
print(l)
l[0,2]=100
print(l)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[  0.   0. 100.]
 [  0.   0.   0.]
 [  0.   0.   0.]]

In [139]:
print(b2)
b2[1]=100
b2[3]=100
print(b2)

[[ 0  1  2]
 [10 11 12]
 [20 21 22]
 [30 31 32]
 [40 41 42]]
[[  0   1   2]
 [100 100 100]
 [ 20  21  22]
 [100 100 100]
 [ 40  41  42]]

In [140]:
b2

array([[  0,   1,   2],
       [100, 100, 100],
       [ 20,  21,  22],
       [100, 100, 100],
       [ 40,  41,  42]])

**예제 10**

이어서 `b2`를 아래 그림과 같이 수정하세요.


<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-13.png?raw=true width=150>
</p>

In [141]:
print(b2)
b2[0,2]=200
b2[2,2]=200
b2[4,2]=200
print(b2)

[[  0   1   2]
 [100 100 100]
 [ 20  21  22]
 [100 100 100]
 [ 40  41  42]]
[[  0   1 200]
 [100 100 100]
 [ 20  21 200]
 [100 100 100]
 [ 40  41 200]]

In [142]:
b2

array([[  0,   1, 200],
       [100, 100, 100],
       [ 20,  21, 200],
       [100, 100, 100],
       [ 40,  41, 200]])

**예제 11**

이어서 `b2`에 값을 아래와 같이 삽입하세요.


<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-14.png?raw=true width=180>
</p>

In [145]:
b2=np.insert(b2, 2, 0, axis=1)

In [146]:
b2

array([[  0,   1,   0, 200],
       [100, 100,   0, 100],
       [ 20,  21,   0, 200],
       [100, 100,   0, 100],
       [ 40,  41,   0, 200]])

In [147]:
a2

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32],
       [40, 41, 42]])

**예제 12**

이어서 `b2`의 값을 아래와 같이 삭제하세요.


<p align='center'>
<img src=https://github.com/yebiny/SkillTreePython-DataAnalysis/blob/main/imgs/ch0103-15.png?raw=true width=180>
</p>

In [154]:
b2=np.delete(b2, (2,4), axis=0)

In [155]:
b2

array([[  0,   1,   0, 200],
       [100, 100,   0, 100],
       [100, 100,   0, 100]])